<!--<div>-->
<!--  <h1 class="font-bold text-4xl">Admin#index</h1>-->
<!--  <p>Find me in app/views/admin/index.html.erb</p>-->
<!--</div>-->

<div class="flex justify-center items-center space-x-4">
  <div class="w-48 h-24 bg-gray-800 sm:rounded-lg text-white py-4 font-semibold justify-center">
    <div>Offices</div>
    <div><%= Office.count %></div>
  </div>
  <div class="w-48 h-24 bg-green-500 sm:rounded-lg">box 2</div>
  <div class="w-48 h-24 bg-blue-500 sm:rounded-lg">box 3</div>
</div>

